<!-- templates/about.html -->

<!DOCTYPE html>
<html>
<head>
    <title>About - Your Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Shammah Oluwole</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>About Me</h2>
        <p>
            Hello! I'm Shammah Oluwole, a passionate Python developer with a keen interest in Cybersecurity. I also have a background as an IT support specialist, where I gained valuable experience in solving technical issues and providing top-notch customer support.
        </p>

        <p>
            My journey in the world of technology began with my curiosity about coding, and since then, I have been on a continuous learning path to explore the vast opportunities that the tech industry offers.
        </p>

        <p>
            As a Python developer, I enjoy working on various projects, from web applications to automation scripts. I'm always eager to challenge myself with new and exciting programming tasks. Moreover, my dedication to Cybersecurity drives me to enhance my skills and knowledge in this ever-evolving field.
        </p>

        <p>
            In my free time, you can find me experimenting with new programming concepts, participating in Capture The Flag (CTF) challenges, or contributing to open-source projects.
        </p>

        <p>
            I'm currently pursuing a Cybersecurity degree to deepen my understanding of securing digital assets and contributing to a safer online environment for everyone.
        </p>

        <p>
            I'm excited about using technology to make a positive impact on the world and am always looking for opportunities to collaborate on exciting projects or discuss cybersecurity-related topics.
        </p>

        <p>
            Feel free to get in touch with me to discuss potential collaborations or just to chat about all things tech!
        </p>
    </main>

    <footer>
        <!-- Add your footer content here -->
    </footer>
</body>
</html>
