<!DOCTYPE html>
<html>
<head>
    <title>Home - Your Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Shammah Oluwole</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>


  <!-- Other Sections and Footer -->
  <!-- Add your other sections and footer content here -->
    <main>
        <h2>Welcome to My Portfolio</h2>
        <!-- Add more content or sections here -->
    </main>
    <!-- Password Manager Project Section -->
    <section id="password-manager" class="project-section">
      <div class="container">
        <h2 class="section-title">Password Manager Project</h2>
        <p class="project-description">
          The Password Manager project is a secure and easy-to-use Python application designed to help users securely store and manage their passwords for various online accounts and services. It provides a convenient way to generate strong, randomized passwords and store them in an encrypted format to protect sensitive information.
        </p>
        <p class="project-features">
          <strong>Features:</strong>
          <ul>
            <li>Password Generation: The Password Manager allows users to generate strong and secure passwords with customizable options, such as length and character sets.</li>
            <li>Encryption: All passwords and user data are encrypted using strong encryption algorithms, ensuring that the information remains safe and protected from unauthorized access.</li>
            <li>User-Friendly Interface: The project features a graphical user interface (GUI) to enhance user experience, making it easy for users to interact with the application and manage their passwords efficiently.</li>
            <li>Account Management: Users can add, view, edit, and delete their stored account credentials within the application, making it a comprehensive password management solution.</li>
            <li>Secure Storage: The passwords are stored locally on the user's device, and the encrypted data is safeguarded against unauthorized access.</li>
            <li>Copy to Clipboard: The application allows users to conveniently copy their passwords to the clipboard, facilitating easy usage during account logins.</li>
          </ul>
        </p>
        <p class="project-link">
          <strong>GitHub Repository:</strong> <a href="https://github.com/NoHistory001/Password-Manager.git" target="_blank">Password Manager GitHub Repository</a>
        </p>
      </div>
    </section>
    <footer>
        <!-- Add your footer content here -->
    </footer>
</body>
</html>
